body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

<<<<<<< HEAD
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main-table td {
    padding: 10px;
}

.main-header {
    font-size: 22px;
    height: 150px;
    background-color: cornflowerblue;
    text-align: center;
    vertical-align: middle;
}

.main-top-menu td {
    width: calc(100% / 6);
}

.main-left-menu {
    vertical-align: top;
}


=======
td {
    /*padding: 10px;*/
}

.main-table {
    margin: 0;
    padding: 0;
    height: 100%;
}

table td {
    border: 2px solid black;
    width: 200px;
    padding: 10px;
    vertical-align: top;
}

table {
    border-spacing: 0;
}

>>>>>>> 7a1d3aadbacd33643c2f3cca99ee847a5caf73b3




