body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main-table td {
    padding: 10px;
}

.main-header {
    font-size: 22px;
    height: 150px;
    background-color: cornflowerblue;
    text-align: center;
    vertical-align: middle;
}

.main-top-menu td {
    width: calc(100% / 6);
}

.main-left-menu {
    vertical-align: top;
}






